<div class="flex justify-between" style="width: 100%;margin: 10px 0;">
  <div *ngIf="instagram">
    <a href="{{instagram}}"><i class="pointer fa fa-instagram"></i></a>
  </div>
  <div *ngIf="facebook">
    <a href="{{facebook}}"><i class="pointer fa fa-facebook-square"></i></a>
  </div>
  <div *ngIf="youtube">
    <a href="{{youtube}}"><i class="pointer fa fa-youtube"></i></a>
  </div>
  <div *ngIf="soundcloud">
    <a href="{{soundcloud}}"><i class="pointer fa fa-soundcloud"></i></a>
  </div>
  <div *ngIf="beatport">
    <a href="{{beatport}}"><img height="10" src="../../assets/beatport.png"/></a>
  </div>
</div>