<!-- <html>
  <head>
    <title>Sonoora Records</title>
  </head>
  <body>
    <div class="flex">
      <div class="menu">
        <div class="w-100 logotipo text-center">
          <img src="../assets/logo-small.png" />
        </div>
        <div class="w-100 text-center">
          <span class="item-menu" (click)="navRoute('releases')">Releases</span>
          <span class="item-menu" (click)="navRoute('artist')">Artists</span>
          <span class="item-menu" (click)="navRoute('store')">Store</span>
          <span class="item-menu" (click)="navRoute('demo')">Demos</span>
          <span class="item-menu" (click)="navRoute('contact')">Contact</span>
          <span>
            <app-links></app-links>
          </span>
        </div>
      </div>
      <div class="content w-100">
        <app-list-artists *ngIf="rota == 'artist'"></app-list-artists>
        <app-list-releases *ngIf="rota == 'releases'" ></app-list-releases>
        <app-store *ngIf="rota == 'store'" ></app-store>
        <app-demo *ngIf="rota == 'demo'" ></app-demo>
        <app-contact *ngIf="rota == 'contact'" ></app-contact>
      </div>
    </div>
  </body>
</html>
 -->
<router-outlet></router-outlet>